/* Set map container and map to 100% height */
.mapContent > div.scroll, #waypostMap {
    height: 100%;
    width: 100%;
    height: calc(100% + 1px);
}

.leaflet-control-attribution {
    margin-bottom: 49px !important;
}

.editorControls .leaflet-container {
    cursor: crosshair !important;
}

.dragControls .leaflet-container {
    cursor: move !important;
}

.defaultControls .leaflet-container {
    cursor: default !important;
}
